div(class="country-list" data-selected-stats-type="confirmed")
  ul(class="list")
    each data in allCountries
      li(class="country")
        button(class="button")
          span(class="name")
            if data.flagSmall
              img(src=data.flagSmall, width="40", alt=data.country) 
            span #{data.country}
          span(class="stat show" data-stats-type="confirmed") #{data.stats.confirmed}
          span(class="stat" data-stats-type="active") #{data.stats.active}
          span(class="stat" data-stats-type="deaths") #{data.stats.deaths}
          span(class="stat" data-stats-type="recovered") #{data.stats.recovered}